/* Customizer CSS */

#customize-theme-controls #accordion-section-menu_locations {
    position: relative;
    margin-bottom: 15px;
}

#customize-theme-controls #accordion-section-larry_menu_styling {
    position: relative;
    margin-bottom: 15px;
}
